@model string

@{
    ViewBag.Title = "Index";
}

        <div id="welcome">
    <p>
    <h1><strong>Welcome to my home page</strong></h1>
    </br>
    <h2>Please click a link to visit my other pages.</h2>

        <hr class="footbar" />
         
        </div>


